<div class="main">
  <img id="image1" class="center" src="../assets/aboutDesiree.jpg">
  <p>At the early age of 16, Desiree choreographed her first Cotillion for a friend. She discovered a lifelong passion and that year she choreographed three more Debuts and two Weddings. Since then, she has created dances for hundreds of couples and individuals of all ages.</p>
  <p>Desiree received a Bachelors of Arts Degree in Dance from San Francisco State University and has been performing in Modern and Hip Hop Dance Companies ever since. Since college, Desiree has trained and performed in the styles of Rumba, Tango, Salsa, Bachata, Cha Cha, Hustle, Swing and more. Her passion brought her back to the studio as a full time instructor and dance choreographer. Today, she choreographs for wedding couples, all over the San Francisco Bay Area.</p>
  <p>Currently, Desiree lives in Fremont, CA, half an hour South/East of San Francisco CA. If you are interested in private lessons, please contact Desiree to schedule an appointment.</p>
  <div class="contact">
    <h2>Contact Desiree</h2>
    <p>Phone:</p>
    <p>Email: desireemayproductions@gmail.com</p>
  </div>
  <div class="footer">
      <div class="connect">
        <a href="https://www.facebook.com/DesireeMayProductions/"><img src="../assets/icons/flogo-RGB-HEX-Blk-72.png" alt="facebook"></a>
        <a href="https://www.linkedin.com/in/desireemay5/"><img src="../assets/icons/In-Black-75px-R.png" alt="linkedIn"></a>
        <a href="https://www.youtube.com/channel/UCMilP7QsgyLR1Zmv-KkGrDg?view_as=subscriber"><img src="../assets/icons/youtube_social_circle_dark.png" alt="youtube"></a>
        <a href="https://www.yelp.com/biz/desiree-may-productions-fremont"><img src="../assets/icons/Yelp_burst_negative_RGB.png" alt="yelp"></a>
      </div>
      <p>Copyright &copy; 2018 Desiree May Productions - All Rights Reserved.</p>   
    </div>
</div>