* {
    padding: 0;
    margin: 0;
}
.main {
    /* background: #FFFBFA; */
    /* right: 10%; */
    /* position: absolute; */
    /* top: 400px; */
    margin-left: 30%;
    padding-top: 50px;
}
.reg {
    background-image: url("../../assets/SignUpOrchid.jpg");
    background-size: contain;
    /* width: 100%; */
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper {
    /* margin-left: 29%;
    margin-top: 3%; */
    margin-top: 20px;
}
.spacing {
    margin-bottom: 10px;
}
input[type="email"] {
    width: 522px;
}
input[type="password"] {
    width: 522px;
}
input[name="fname"] {
    width: 254px;
}
input[name="lname"] {
    width: 255px;
}
.background {
    /* width: 100%; */
    /* max-width: auto; */
    /* max-height: 793px; */
    /* margin-left:9% */
    /* position: relative; */
    text-align: center;
    margin-top: 5.3%;
}
.footer {
    margin-top: -0.7%;
    padding: 2%;
    padding-right: 0;
    padding-left: 0;
    background-size: cover;
    width: 100%;
    background-color: #8F7F7A;
}
.connect {
    margin: 0 auto;
    margin-left: 37%;
}
.footer h2 {
    color: white;
    display: inline-block;
    vertical-align: top;
}
.footer p {
    color: white;
    text-align: center;
    margin-top: 30px;
}
.footer img {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: 60px;
    padding-left: 20px;
}
.footer connect h2 {
    display: inline-block;
    vertical-align: top;
}
#firstName {
    margin-right: 10px;
}
#submitButton {
    border-style: solid;
    border-color: white;
    background-color: #6B2324;;
    color: white;
    border-width: 2px;
    padding: 16px 24px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 16px;
    /* margin-left: 15%; */
    text-align: center;
}
#loginLink {
    color: #6B2324
}
#loginLink:hover {
    color: black;
}