<div class="main">
    <div class="imgHere">
        <!-- <img src="../assets/Banner2.jpg" alt="banner2"> -->

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/Banner2.jpg" alt="banner2" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../assets/Banner3.jpg" alt="banner3" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../assets/Banner1.jpg" alt="banner1" width="1100" height="500">
                <div class="carousel-caption">
                    <!-- <button id="exploreButton" >Explore Choreography</button> -->
                    <p id="thisP">
                        <a id="exploreButton" [routerLink]="['/choreo']" >Explore Choreography</a>
                    </p>
                </div>
            </div>
            </div>

            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a> -->

        <!-- <div class="coverText">
            <h4>Start Your Online Dance Lessons Today</h4>
            <p>10+ Styles of Dance</p>
            <button>Explore Dances</button>
        </div> -->
    </div>
    <div class="wrapper">
        <div class="content1">
            <h2>Your Wedding...</h2>
            <p id="wedding_content">Your wedding dance is a once in a lifetime event and the perfect chance to present a dance that is a reflection and celebration of your bond. Learn any of Desiree May’s memorable wedding dances with an easy to follow, step-by-step tutorial to present on your special day.</p>
        </div>
        <div class="content1">
            <h2>With Desiree May Choreography you will get:</h2>
            <div class="centerUl">
                <ul>
                    <li>Variety of dances that fits your style and ability level</li>
                    <li>Step by step tutorial</li>
                    <li>Edited mp3 version of song (cut 2.5 to 3 minutes length)  </li>
                    <li>Dance checklist for day of preparation</li>
                </ul>
            </div>
        </div>
        <div class="content2">
            <div class="sectionA" id="section1">
                <h1>Program</h1>
            </div>
            <div class="sectionA" id="section2">
                <h1>Video Samples</h1>
            </div>
            <div class="sectionA" id="section3">
                <h1>Dance Checklist</h1>
            </div>
        </div>
        <div class="content3">
            <h2>Testimonials</h2>
            <div class="addImage" ></div>
            <div class="testimonialWrapper">
                <h3>“Desiree is good at breaking down the steps so that a person with very little experience can learn in a fun and low pressure way.” </h3>
                <p class="par">- Fan L.</p>
                <h3>“Desiree May Choreography helped us last minute since we had no dance planned. Neither of us had any dance experience but we now feel very prepared for the dance!!!"</h3>
                <p class="par">- Jenn D.</p>
                <h3>“Desiree focuses on the little details so we knew exactly where to place our hands and where to look, etc which I thought was super helpful.”</h3>
                <p class="par">- Linda W.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="connect">
            <a href="https://www.facebook.com/DesireeMayProductions/"><img src="../assets/icons/flogo-RGB-HEX-Blk-72.png" alt="facebook"></a>
            <a href="https://www.linkedin.com/in/desireemay5/"><img src="../assets/icons/In-Black-75px-R.png" alt="linkedIn"></a>
            <a href="https://www.youtube.com/channel/UCMilP7QsgyLR1Zmv-KkGrDg?view_as=subscriber"><img src="../assets/icons/youtube_social_circle_dark.png" alt="youtube"></a>
            <a href="https://www.yelp.com/biz/desiree-may-productions-fremont"><img src="../assets/icons/Yelp_burst_negative_RGB.png" alt="yelp"></a>
        </div>
        <p>Copyright &copy; 2018 Desiree May Productions - All Rights Reserved.</p>   
    </div>
</div>